<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzg.sysTest.mapper.TestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gzg.sysTest.entity.Test">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <select id="selectListByWrapper" resultType="com.gzg.sysTest.entity.Test">
        SELECT * FROM sys_test
        <!-- 判断 wrapper 是否为空 emptyOfWhere -->
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>
